@import "normalize.css";
{box-sizing: border-box;}
.header{
    background-color: #00cc00;
    display: grid;
    grid-template-columns:50%;
}

.footer{
    background-color: #00cc00;
    display: grid;
    grid-template-columns:50%;
    margin-top: 536px;
}

#carouselExampleIndicators  {
  margin-bottom: 100px;
}

body {
    background: darkred;
}

.header h1{
    text-align: center;
    color: red;
}

.links{
    padding: 20px;
    border: white 5px solid;
    border-width:2px;
    width: 26%;
    height: 40%;
    background-color: white;
    margin-bottom: 2px;
}

